
.project {
    width: 100%; 
    max-width: 60rem; 
    padding: 2rem; 
    background-color:var(--g); 
    border-radius: 25px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto; 
    color: white;
}


.project h2 {
    margin-bottom: 2rem;
    font-family: 'Poppins', sans-serif; 
    font-size: 2rem;
    text-align: center;
    color:var(--p1); 
}

.project-grp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
}


.pro1 {
    background-color: #2D2836;
    border: 0.1px solid var(--p1); 
    width: 12rem;
    height: 15rem;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1.3rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pro1:hover {
    transform: scale(1.05); 
    box-shadow: 0px 8px 20px rgba(130, 57, 213, 0.4); 
}

.pro-img img, .pro-img1 img {
    width: 10rem;
    height: 6.7rem;
    object-fit: cover; 
    border-radius: 25px;
}


.pro-info h3 {
    font-size: 1rem;
    text-align: center;
    color: #F1F1F1;
}


.click-pro {
    width: 7rem;
    height: 2rem;
    background:var(--p1); 
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background 0.3s ease; 
}

.click-pro:hover {
    background-color: #8d44db; 
}




@media (max-width: 900px) {
    .project-grp {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .project-grp {
        grid-template-columns: 1fr;
    }
}