.lang-swicher {
    display: flex;
    gap: 3rem;
}

.navbar {
    margin-top: 2rem;
    width: 92.2rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5rem;
    border-radius: 30px;
    background-color: var(--g);
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


@media (max-width: 768px) {
    .lang-swicher {
        display: flex;
        gap: 1rem;
    }

    .navbar {
        margin-top: 2rem;
        width: 22rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline: 5rem;
        gap: 5rem;
        border-radius: 30px;
        background-color: var(--g);
    }

    h1 {
        font-size: 19px;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {}